<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <timestamp key="startTimestamp" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/subsdict-${startTimestamp}.log</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <FileNamePattern>logs/subsdict.%d{yyyy-MM-dd}.log</FileNamePattern>
          <maxHistory>3</maxHistory>
      </rollingPolicy>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
      </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%-5level %msg%n</pattern>
    </encoder>
  </appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
	</root>

</configuration>